<div class="book-desc__container">
    <h3>Название книги:</h3>
    <p>{{ bookTitle}}</p>
    <h3>Год издания:</h3>
    <p>{{ bookYear }}</p>
    <h3>Количество страниц:</h3>
    <p>{{ bookPages}}</p>
    <h3>Издательство:</h3>
    <p>{{ publishing | uppercase }}</p>
    <h3>Автор:</h3>
    <p>{{ bookAutor }}</p>
    <div class="image">
        <img src="{{ bookAutorImage }}" alt="">
    </div>
    <h3>Рецензия:</h3>
    <p>{{ review }}</p>
    <h3>Цена:</h3>
    <p>{{ bookPrice | currency:'RUB':'symbol-narrow' }}</p>
</div>
